@import "base/_variables.scss";
@import "blocks/_promo.scss";
@import "blocks/_header.scss";
@import "blocks/_buttons.scss";
@import "blocks/pros";
@import "_media.scss";

*{
	font-family: "MuseoModerno", sans-serif;
}

.container{
	max-width: 950px;
	margin: 0 auto;
}
