.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background-image: url(../img/consultation-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__descr{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
}