.pros{
    min-height: 470px;
    background-color: #F6F6F6;
    padding: 70px 0 80px 0;
    &__header{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: #0D0D0D;
        text-transform: uppercase;
        text-align: center;
    }
    &__items{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        width: 275px;
        img{
            display: block;
            margin: 0 auto;
            width: 70px;
            height: 70px;
        }
        &__name{
            margin-top: 30px;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr{
            margin-top: 20px;
            text-align: center;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            span{
                text-decoration: underline;
                color: #FF0000;
            }
        }
    }
    &__icon{
        animation-name: heartbeat;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}